.login{
    height: 100vh;
    
    background-image: 
        linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
        linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,2) 100%),
        url(../../../public/background_banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 8%;   
    margin-bottom: 150px;
}
.login-logo{
    width: 150px;
}
.login-form{
    width: 100%;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 60px;
    margin: auto;
}
.login-form h1{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}
.login-form input{
    width: 100%;
    height: 50px;
    background: #333;
    color:white;
    margin: 12px 0;
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
}
.login-form input::placeholder{
    font-size: 16px;
    font-weight: 500;
}
.login-form .sign-btn{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 16px;
    background: #e50914;
    color:white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.form-help{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: 13px;
}
.remember{
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember input{
    width: 18px;
    height: 18px;
}
.form-switch{
    margin-top: 40px;
    color: #737373;
}
.form-switch span{
    margin-left: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.login-spinner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-spinner img{
    width: 60px;
}
.reasons-section {
  padding: 60px 150px;
  color: white;
}

.reasons-section h1 {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 600;
  margin-left: 30px;
}

.reasons-cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.reason-card {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  padding: 20px;
  background: linear-gradient(135deg, #192144, #210e18);
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.reason-card h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
}

.reason-card p {
  font-size: 17px;
  color: #cccccc;
}

.reason-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}
.faq-section {
  padding: 60px 170px;
  color: white;
  text-align: start;
}

.faq-section h1 {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 600;
}

.faq-container {
  max-width: 100%;
  margin: 0 auto;
}

.faq-item {
  background: #333;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 30px 30px;
  position: relative;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.faq-icon {
  font-size: 25px;
  font-weight: bold;
  transition: transform 0.3s;
}

.faq-item.active .faq-icon {
  transform: rotate(180deg);
}

.faq-answer {
  margin-top: 10px;
  font-size: 25px;
  line-height: 1.5;
  animation: fadeIn 0.3s ease;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
@media (max-width:1024px) {
    .faq-section{
        padding: 30px 70px;
    }
    .faq-section h1{
        font-size: 25px;
    }
    .faq-item{
        padding: 15px 15px;
    }
    .faq-question{
        font-size: 20px;
    }
    .reasons-section{
        padding: 30px 70px;
    }
    .reasons-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .reason-card{
        height: 200px;
        border-radius: 15px;
    }
    .reason-card h2{
        font-size: 20px;
        margin-bottom: 7px;
    }
    .reason-card p{
        font-size: 14px;
    }
}
@media (max-width:800px) {
    .reasons-section h1{
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .reasons-section{
        padding: 30px 30px;
    }
    .reasons-cards{
        grid-template-columns: repeat(1,1fr);
    }
    .reason-card{
        height: 150px;
        border-radius: 15px;
    }
    .reason-card h2{
        font-size: 20px;
        margin-bottom: 7px;
    }
    .reason-card p{
        font-size: 14px;
    }
}
@media (max-width:500px) {
    .faq-section{
        padding: 30px 30px;
    }
    .faq-section h1{
        font-size: 20px;
    }
    .faq-item{
        padding: 10px 10px;
    }
    .faq-question{
        font-size: 15px;
    }
    .login{
        padding: 15px 5%;
    }
    .login-form{
        padding: 20px;
        margin-top: 30px;
    }
    .reason-card h1{
        font-size: 15px;
    }
    .reason-card{
        padding: 10px 10px;
    }
    .reason-card p{
        font-size: 10px;
    }
}