.trending-section {
  margin: 30px 100px;
  position: relative;
  color: white;
}

.trending-section h1 {
  margin-left: 70px;
  font-size: 28px;
}

.trending-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.trending-cards {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 20px;
  gap: 50px;
}
.trending-cards::-webkit-scrollbar {
  display: none;
}


.trending-card-wrapper {
  position: relative; 
  width: 220px;       
  flex-shrink: 0;
}

.trending-card {
  width: 100%;
  height: 310px;
  border-radius: 6px;
  overflow: hidden; 
  cursor: pointer;
  transition: transform 0.3s;
}

.trending-card img {
  width: 100%;
  height: 100%;      
  object-fit: cover; 
  border-radius: 6px;
}

.trending-card:hover {
  transform: scale(1.05);
}


.card-number {
  position: absolute;
  top: 50%;             
  left: -15px;          
  transform: translateY(-50%);
  font-size: 120px;    
  font-weight: bold;
  pointer-events: none;
  z-index: 50;          
}

.card-number .stroke {
  -webkit-text-stroke: 3px white; 
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.card-number .fill {
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
  z-index: 2;
  padding: 5px 12px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.nav-btn:hover {
  background-color: rgba(0,0,0,0.8);
}

.nav-btn.left {
  left: 5px;
}

.nav-btn.right {
  right: 5px;
}
@media (max-width:1024px) {
    .trending-section{
        margin: 30px 30px;
    }
    .trending-card-wrapper{
        width: 195px;
    }
    .trending-cards{
        gap: 45px;
    }
    .trending-card{
        height: 270px;
    }
    .card-number{
        font-size: 95px;
        top: 50%;
    }
}
@media (max-width:800px) {
    .trending-section{
        margin: 30px 20px;
    }
    .trending-card-wrapper{
        width: 180px;
    }
    .trending-cards{
        gap: 40px;
    }
    .trending-card{
        height: 250px;
    }
    .card-number{
        font-size: 80px;
        top: 50%;
    }
}
@media (max-width:500px) {
    .trending-section{
        margin: 20px 10px;
    }
    .trending-card-wrapper{
        width: 150px;
    }
    .trending-cards{
        gap: 20px;
    }
    .trending-card{
        height: 210px;
    }
    .card-number{
        font-size: 50px;
        top: 60%;
    }
}