.mylist-container {
    padding: 100px 50px 0 50px;
}

.mylist-head {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    margin-bottom: 20px;
    margin-left: 20px;
}

.mylist-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-left: 30px;
    margin-right: 30px;
    justify-items: center;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-card img {
    width: 240px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.movie-card:hover img {
    transform: scale(1.05);
}

.movie-card #movie-title {
    margin-top: 10px;
    font-size: 13px;
}

#remove-button {
    color: white;
    background: rgb(219, 75, 75);
    border: none;
    padding: 6px 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.mylist-spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mylist-spinner img {
    width: 60px;
}

@media (max-width:1450px) {
    .movie-card #movie-title {
        font-size: 12px;
    }
    #remove-button{
        padding:4px 5px;
    }
    .mylist-grid{
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width:1250px) {
    .movie-card #movie-title {
        font-size: 12px;
    }
    #remove-button{
        padding:4px 5px;
    }
    .mylist-grid{
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media (max-width:1150px) {
    .movie-card img{
        width: 220px;
    }
}
@media (max-width:1070px) {
    .mylist-grid{
        grid-template-columns: repeat(3,1fr);
    }
}
.mylist-container {
    padding: 100px 50px 0 50px;
}

.mylist-head {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    margin-bottom: 20px;
    margin-left: 20px;
}

.mylist-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-left: 30px;
    margin-right: 30px;
    justify-items: center;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-card img {
    width: 240px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.movie-card:hover img {
    transform: scale(1.05);
}

.movie-card #movie-title {
    margin-top: 10px;
    font-size: 13px;
}

#remove-button {
    color: white;
    background: rgb(219, 75, 75);
    border: none;
    padding: 6px 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.mylist-spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mylist-spinner img {
    width: 60px;
}

@media (max-width:1450px) {
    .movie-card #movie-title {
        font-size: 12px;
    }
    #remove-button{
        padding:4px 5px;
    }
    .mylist-grid{
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width:1250px) {
    .movie-card #movie-title {
        font-size: 12px;
    }
    #remove-button{
        padding:4px 5px;
    }
    .mylist-grid{
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media (max-width:1150px) {
    .movie-card img{
        width: 220px;
    }
}
@media (max-width:1070px) {
    .mylist-grid{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 900px) {
    .movie-card img{
        width: 200px;
    }
    .mylist-grid{
        grid-template-columns: repeat(3,1fr);
        margin-left: 0px;
        margin-right:0px;
    }
    .mylist-container{
        padding: 80px 0px 10px 0px;
    }
}
@media (max-width:650px) {
    .movie-card img{
        width: 180px;
    }
    .mylist-grid{
        grid-template-columns: repeat(3,1fr);
    }
    .movie-card #movie-title{
        font-size: 9px;
    }
}
@media (max-width:500px) {
    .movie-card img{
        width: 200px;
    }
    .mylist-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .movie-card #movie-title{
        font-size: 12px;
    }
}